<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Юзер</title>
</head>
<body>
<table th:width="500" th:border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
<!--        <th>Password</th>-->
        <th>Roles</th>
    </tr>
    </thead>
    <tr >
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getFirstName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
<!--        <td th:password="${user.getPassword()}"/>-->
        <td>
            <th:block th:each="role : ${user.getRoles()}">
                <label th:text="${role.role}"/>
                <br>
            </th:block>
        </td>
    </tr>
</table>
<br>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>